.conatiner {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    opacity: 1;
    background-image: url('/assets/homePage.jpg');
    background-size: cover; /* This will make the image cover the entire body */
    background-repeat: no-repeat;
}