<mat-card>
    <mat-action-list>
      <!-- Home -->
      <mat-card-header>
        <button mat-card-avatar class="example-header-image1 commonClass" routerLink="/admin">
          <div class="button-content">
            <h3><b>Home</b></h3>
          </div>
        </button>
      </mat-card-header>
  
      <!-- Profile -->
      <mat-card-header>
        <button mat-card-avatar class="example-header-image2 commonClass" routerLink="/admin/profile">
          <div class="button-content">
            <h3><b>Profile</b></h3>
          </div>
        </button>
      </mat-card-header>
  
      <!-- Other menu items... -->
      <mat-card-header>
        <button mat-card-avatar class="example-header-image3 commonClass" routerLink="/admin/categories">
          <div class="button-content">
            <h3><b>Categories</b></h3>
          </div>
        </button>
      </mat-card-header>
      <mat-card-header>
        <button mat-card-avatar class="example-header-image4 commonClass" routerLink="/admin/add-categories">
          <div class="button-content" style="margin-left:40px;width:113px">
            <h3><b>Add Categories</b></h3>
          </div>
        </button>
      </mat-card-header>
      <mat-card-header>
        <button mat-card-avatar class="example-header-image5 commonClass" routerLink="/admin/quizzes">
          <div class="button-content">
            <h3><b>Quizzes</b></h3>
          </div>
        </button>
      </mat-card-header>
      <mat-card-header>
        <button mat-card-avatar  class="example-header-image6 commonClass" routerLink="/admin/add-quiz">
          <div class="button-content" style="margin-left:15px;width:113px">
            <h3><b>Add Quiz</b></h3>
          </div>
        </button>
      </mat-card-header>
      <mat-card-header>
        <button mat-card-avatar class="example-header-image7 commonClass" routerLink="/admin/createNotes">
          <div class="button-content" style="margin-left:20px;width:113px">
            <h3><b>Create Notes</b></h3>
          </div>
        </button>
      </mat-card-header>
      <mat-card-header>
        <button mat-card-avatar class="example-header-image8 commonClass" routerLink="/admin/profile">
          <div class="button-content">
            <h3><b>Logout</b></h3>
          </div>
        </button>
      </mat-card-header>
  
    </mat-action-list>
  </mat-card>
  